section.level-js
	.level-js__counter-container
		h2.level-js__title
			| Мой уровень владения Java Script
		span.level-js__counter.js-counter
			| 0

	.level-js__scale-container
		svg.level-js__scale.js-scale(xmlns="http://www.w3.org/2000/svg" width="255" height="129" viewBox="0 0 255 129")
			path(fill="#ffc815" d="M.988 127.931a125.713 125.713 0 0149.176-99.64L85.006 70.64c-18.658 14.64-28.428 31.948-28.428 57.291H.988z")
			path(fill="#a3cd3b" d="M56.124 23.992a127.058 127.058 0 01145.817 0l-34.518 43.039c-14.684-9.917-26.3-12.2-38.387-12.2-12.056 0-26.188 4.358-38.352 12.2z")
			path(fill="#0093d7" d="M206.248 28.291a126.875 126.875 0 0147.792 99.64h-53.987c0-25.343-10.4-43.4-27.486-57.291z")
		svg.level-js__scale-arrow.js-scale-arrow(xmlns="http://www.w3.org/2000/svg" width="66" height="21" viewBox="0 0 66 21")
			path(fill="#3e3d40" d="M64.987 10.705a9.23 9.23 0 01-9.334 9.282L.987 10.56 55.877.985a9.526 9.526 0 019.11 9.72z")
