section.skills
	h2.skills__title
		| Навыки
	ul.skills__list
		+skill-item("html5", true)
		+skill-item("sass", true)
		+skill-item("vanillajs", true)
		+skill-item("git", true)
		+skill-item("css3", true)
		+skill-item("less", true)
		+skill-item("angular")
		+skill-item("foundation")
		+skill-item("бэм", true, "bem")
		+skill-item("gulp", true)
		+skill-item("jquery", true)
		+skill-item("bootstrap", true)
