// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-alt-black: #010101;
$color-white: #fff;
$color-gallery: #f0f0f0;
$color-alt-gallery: #eee;
$color-mine-shaft: #333;
$color-dove-gray: #666;
$color-cerulean: #0093d7;

// FONTS

$font-family-roboto: "Roboto", sans-serif;

// MISC

$transition-time: 0.2s;
$transition-function: ease-in-out;
